<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="laurenyew.imagebrowser.homepage">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/image_browser_ic_launcher"
        android:roundIcon="@mipmap/image_browser_ic_launcher_round"
        android:supportsRtl="true">
        <activity android:name="laurenyew.imagebrowser.homepage.activities.HomePageActivity">
            <intent-filter android:order="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="laurenyew.imagebrowser.com"
                    android:pathPattern="/home"
                    android:scheme="https" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>